<div *ngIf="loading == true" class="loader">Loading..</div>

<p-messages [value]="errors"></p-messages>

<div *ngIf="loading == false" class="context-section aedile-datatable">
  <h2 *ngIf="numberOfItems > 0">Sites ({{ numberOfItems }})</h2>
  <h2 *ngIf="numberOfItems === 0">There are no sites</h2>
  <p-dataTable [value]="items" selectionMode="single" [responsive]="true"
    [rows]="20" [paginator]="true" [pageLinks]="7" [rowsPerPageOptions]="[10,20, 30]" [globalFilter]="gb" #dt>
    <p-header>
      <div class="ui-helper-clearfix">
        <i class="fa fa-search" style="margin:4px 4px 0 0; float:left"></i>
        <input #gb type="text" id="filter" pInputText size="50" style="float: left" placeholder="Search Sites">
        <button type="button" pButton icon="fa-arrow-down" iconPos="right" label="Export" (click)="dt.exportCSV()"
          style="float:right"></button>
        <button type="button" pButton icon="fa-window-maximize" iconPos="right" label="Add Site" [routerLink]="['/site/add', businessId]"
          style="float:right"></button>
      </div>
    </p-header>
    <p-column field="name" header="Site Name" [filter]="false" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="typeString" header="Type" [filter]="false" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="siteObjectCount" header="Total Buildings/Grounds/Infrastructure" [filter]="false" filterPlaceholder="Search" [sortable]="true"></p-column>
    <p-column field="createdDate" header="Date Added" [sortable]="true">
      <ng-template let-col let-site="rowData" pTemplate="body">
        <span>{{site[col.field] |  date:'dd/MM/yyyy'}}</span>
      </ng-template>
    </p-column>
    <p-column styleClass="col-button">
      <ng-template let-site="rowData" pTemplate="body">
        <button pButton type="text" [routerLink]="['/business', businessId, 'site', site.id]" icon="fa-edit" title="Edit Site"></button>
        <button pButton *ngIf="showViewButtons" type="text" [routerLink]="['/business', businessId, 'site', site.id, 'view']" icon="fa-eye" title="View Site"></button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
