$primaryColor: #d5a940;
$primaryDarkColor: #eace76;
$primaryLightColor: #f7e6a4;
$accentColor: #fdce1e;
$accentDarkColor: #eebe00;
$accentLightColor: #fde78d;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';