.container{
    overflow-y:auto;
    margin-bottom: 56px;
}

.toolbar {   
    z-index: 2;
    background: rgba(0,0,0,0.5);
  }

  .footer{
      z-index: 3;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
  }

  .main {
    width: 100%;
    height: 100vh;
}

.mat-button{
    background: gray;
    line-height:30px;
    min-width: 40px;   
    font-size: 12px; 
}

.footer p {
    font-size: 16px;
}

.footer{
    height: 56px;
}

.footer > div{
    max-width: 500px;
}