<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row aed-row">
    <div class="ui-grid-col-4">
      <div class="ui-g card colorbox colorbox-total">
        <div class="ui-g-4">
          <i class="material-icons">now_widgets</i>
        </div>
        <div class="ui-g-8">
          <span class="colorbox-name">Total Assets</span>
          <span class="colorbox-count">{{ totalCount }}</span>
        </div>
      </div>
    </div>
    <div class="ui-grid-col-4">
      <div class="ui-g card colorbox colorbox-found">
        <div class="ui-g-4">
          <i class="material-icons">check_circle</i>
        </div>
        <div class="ui-g-8">
          <span class="colorbox-name">Found</span>
          <span class="colorbox-count">{{ foundCount }}</span>
        </div>
      </div>
    </div>
    <div class="ui-grid-col-4">
      <div class="ui-g card colorbox colorbox-notfound">
        <div class="ui-g-4">
          <i class="material-icons">report</i>
        </div>
        <div class="ui-g-8">
          <span class="colorbox-name">Not Found</span>
          <span class="colorbox-count">{{ notFoundCount }}</span>
        </div>
      </div>
    </div>
    <div class="ui-grid-col-4">
      <div class="ui-g card colorbox colorbox-new">
        <div class="ui-g-4">
          <i class="material-icons">add</i>
        </div>
        <div class="ui-g-8">
          <span class="colorbox-name">New</span>
          <span class="colorbox-count">{{ newCount }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
